* {
    background-color: #FFF7D4;
}

h1 {
    font-family: 'Knewave', cursive;
    font-size: 90px;
    padding-bottom: 30px;
    color: red;
}
p {
    color: #511818;
    padding-bottom: 14px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.25;
}

svg {
    width: 80vw;
}

header {
    margin-bottom: 20px;
}

img {
   width: 61.75px;
    height: 589.5px;
}
a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: black;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin: auto;
}

.grid div {
    padding: 20px;
}

.left {
    display: flex;
  justify-content: center;
  align-items: center;
    width: 60vw;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
    padding: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1224px) {}
